{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "semi": "off",
    "quotes": "off",
    "object-curly-spacing": "off",
    "arrow-parents": "off",
    "linebreak-style": "off",
    "require-jsdoc": [0],
    "arrow-parens": "off"
  }
}
